.rotate-blocker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.rotate-blocker__alert {
    padding-top: 4rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.25;
}

/* which max-aspect-ration to choose for 19.5/9 mob. screen ration with browser nav-bar ? */
@media screen and (max-height: 600px) and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/2) {
    .rotate-blocker {
        display: flex;
    }
}