.diff-select {
    position: relative;
}

.diff-select::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX( -50% );
    border-bottom: .2rem solid rgba( 0, 38, 64, .15 );
    width: 76%;
}
