.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title {
    padding-bottom: 2.5em;
    font-family: 'Paytone One', Roboto, sans-serif;
    font-size: 11vw;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #0096d4;
    text-shadow: 1px 1px 0 #002640,
        -1px -1px 0 #002640,
        1px -1px 0 #002640,
        -1px 1px 0 #002640,
        0 0 6px #002640;
}

.menu__btn-wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 480px) {
    .menu__title {
        font-size: 5rem;
    }
}

@media screen and (min-width: 768px) {
    .menu__title {
        font-size: 6rem;
    }
}

@media screen and (min-width: 992px) {
    .menu__title {
        padding-bottom: 2em;
        font-size: 7.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .menu__title {
        text-shadow: 2px 2px 0 #002640,
            -2px -2px 0 #002640,
            2px -2px 0 #002640,
            -2px 2px 0 #002640,
            0 0 10px #002640;
    }
}