.game-field {
    border: 9px solid #0073a3;
    border-top-width: 5px;
}

.game--r16-568 .game-field {
    border-width: 6px;
    border-top-width: 3px;
}

.game-field__content {
    display: flex;
    border-top: 4px solid #003f59;
    border-left: 4px solid #003f59;
    border-bottom: 4px solid #eaf9ff;
    border-right: 4px solid #eaf9ff;
    background-color: #e8e8e8;
}

@media screen and (min-width: 360px) {
    .game-field {
        border-width: 28px;
        border-top-width: 11px;
        border-bottom-width: 24px;
    }

    .game--c30-768 .game-field,
    .game--c30-992 .game-field {
        border-left-width: 16px;
        border-right-width: 16px;
    }
}

@media screen and (min-width: 1400px) {
    .game-field {
        border-width: 36px;
        border-top-width: 16px;
        border-bottom-width: 30px;
    }
    .game-field__content {
        border-width: 6px;
    }
}