.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    line-height: 1.3;
    text-align: center;
    background-color: rgba(57, 57, 57, 0.5);
    opacity: 1;
    transition: opacity 0.3s linear;
    transition-delay: 0s;
}

.app--modal-hidden .modal {
    z-index: -1;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    animation: modalFadeOut 0.6s linear 1;
}

.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em 1.5em 2em;
    width: 90%;
    min-width: 320px;
    max-width: 25em;
    background-color: #ffffff;
    box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transition-delay: 0.3s, 0.3s;
}

.modal__window--no-close {
    padding-top: 2em;
}

.app--modal-hidden .modal__window {
    transform: translate(-50%, 50%);
    opacity: 0;
    transition-timing-function: ease-in, ease-in;
    transition-delay: 0s, 0s;
}

@keyframes modalFadeOut {
    0% {
        z-index: 100;
    }
    100% {
        z-index: -1;
    }
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
}

.modal__close::before,
.modal__close::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 30px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
}

.modal__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__btn-wrap {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__btn {
    width: calc((100% - 1em) / 2);
    max-width: 7.5em;
    font-size: 1em;
    line-height: 2em;
    font-weight: 700;
    color: #666666;
    border: 0.3rem solid #666666;
    background-color: transparent;
}

.modal__btn:nth-of-type(2) {
    margin-left: 1em;
    color: #0073a3;
    border-color: #0073a3;
}

@media screen and (min-width: 480px) {
    .modal {
        font-size: 2rem;
    }
    .modal__window {
        padding: 3em 2em 2.5em;
    }
    .modal__window--no-close {
        padding-top: 2.5em;
    }
    .modal__close {
        width: 60px;
        height: 60px;
    }
    .modal__btn-wrap {
        padding-top: 2em;
    }
    .modal__btn:nth-of-type(2) {
        margin-left: 2em;
    }
}

@media screen and (min-width: 768px) {
    .modal__window {
        padding: 2em 3.5em;
        min-width: 28em;
    }
    .modal__close {
        width: 7rem;
        height: 7rem;
    }
    .modal__close::before,
    .modal__close::after {
        width: 3.6rem;
    }
}

@media screen and (min-width: 992px) {
    .modal__close:hover::before,
    .modal__close:hover::after {
        background-color: #333333;
    }
    .modal__btn:hover {
        color: #444444;
        border-color: #444444;
    }
    .modal__btn:nth-of-type(2):hover {
        color: #008ac3;
        border-color: #008ac3;
    }
}

@media screen and (min-width: 1400px) {
    .modal__close::before,
    .modal__close::after {
        height: 4px;
    }
}