.game-cell {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #003f59;
    overflow: hidden;
}

.game-cell::before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #003f59;
    background-color: #e8e8e8;
    opacity: 0;
}

.game--r16-568 .game-cell {
    width: 25px;
    height: 25px;
}

.game--c30-768 .game-cell {
    width: 19px;
    height: 19px;
}

.game--c30-992 .game-cell {
    width: 24px;
    height: 24px;
}

.game-cell__btn {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #e8e8e8;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto calc((18 / 28) * 100%);
    cursor: default;
}

.game-cell__btn:disabled,
.game-cell__btn[disabled] {
    opacity: 1;
}

.game-cell__btn--1 {
    background-image: url("../../img/icon_1.png");
}
.game-cell__btn--2 {
    background-image: url("../../img/icon_2.png");
}
.game-cell__btn--3 {
    background-image: url("../../img/icon_3.png");
}
.game-cell__btn--4 {
    background-image: url("../../img/icon_4.png");
}
.game-cell__btn--5 {
    background-image: url("../../img/icon_5.png");
}
.game-cell__btn--6 {
    background-image: url("../../img/icon_6.png");
}
.game-cell__btn--7 {
    background-image: url("../../img/icon_7.png");
}
.game-cell__btn--8 {
    background-image: url("../../img/icon_8.png");
}
.game-cell__btn--mine {
    background-image: url("../../img/icon_mine.png");
    background-size: auto calc((22 / 28) * 100%);
}

.game--r16-568 .game-cell__btn {
    background-size: auto calc((15 / 23) * 100%);
}
.game--c30-768 .game-cell__btn {
    background-size: auto calc((11 / 17) * 100%);
}
.game--c30-992 .game-cell__btn {
    background-size: auto calc((14 / 22) * 100%);
}

.game--r16-568 .game-cell__btn--mine {
    background-size: auto calc((19 / 23) * 100%);
}
.game--c30-768 .game-cell__btn--mine {
    background-size: auto calc((15 / 17) * 100%);
}
.game--c30-992 .game-cell__btn--mine {
    background-size: auto calc((18 / 22) * 100%);
}

.game-cell__btn::after {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0096d4;
    border-bottom: 3px solid #0073a3;
    border-right: 3px solid #0073a3;
    border-top: 3px solid #47c9ff;
    border-left: 3px solid #47c9ff;
    transition: 0.15s opacity linear;
    opacity: 1;
}

.game-cell__btn::before {
    position: absolute;
    z-index: 3;
    content: "";
    top: -1px;
    left: -1px;
    transform: translateY(-100%);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(to bottom, rgba(234, 249, 255, 0) 0%,
        rgba(234, 249, 255, 0.5) 40%,
        rgb(234, 249, 255) 47%,
        rgb(234, 249, 255) 53%,
        rgba(234, 249, 255, 0.5) 60%,
        rgba(234, 249, 255, 0) 100%);
    transition: 2s transform linear;
    opacity: 0;
}

.game-cell--opened .game-cell__btn::after {
    opacity: 0;
}

.game-cell--defused .game-cell__btn::after {
    transition-duration: 0s;
    animation: cellReveal 2.5s linear 1;
}
.game-cell--defused .game-cell__btn::before {
    opacity: 1;
    transform: translateY(100%);
}
.game-cell--defused::before {
    animation: defusedMineReveal 5s linear 1;
}

@keyframes cellReveal {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes defusedMineReveal {
    0%, 40% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}

.game-cell--flagged .game-cell__btn::after {
    background: #0096d4 url("../../img/icon_flag.png") 50% 50% no-repeat;
    background-size: 60%;
}

@media screen and (min-width: 1400px) {
    .game-cell {
        width: 40px;
        height: 40px;
    }
    .game-cell__btn {
        background-size: auto calc((26 / 38) * 100%);
    }
    .game-cell__btn--mine {
        background-size: auto calc((30 / 38) * 100%);
    }
    .game-cell__btn::after {
        border-width: 4px;
    }
    .game-cell--flagged .game-cell__btn::after {
        background-size: auto calc((26 / 30) * 100%);
    }
}