.tutorial {
    position: relative;
    padding: 60px 20px 20px;
    width: 100%;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 1.4;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 24px 0 rgba(57, 57, 57, 0.3);
}

.tutorial__exit {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
}

.tutorial__exit::before,
.tutorial__exit::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 30px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
}

.tutorial__exit::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.tutorial__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.5rem;
    font-size: 2.4rem;
    line-height: 5.5rem;
    font-weight: 700;
}

.tutorial__content {
    flex-grow: 1;
    overflow-y: auto;
}

.tutorial__content > * {
    margin-bottom: 1.8rem;
}

.tutorial__content > * > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.tutorial__content h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.tutorial__content p {
    /*text-indent: 1em;*/
}

.tutorial__content li {
    position: relative;
    padding-left: 1.2em;
}

.tutorial__content li::before {
    position: absolute;
    content: "";
    top: 0.9rem;
    left: 0.4rem;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background-color: #002640;
}

@media screen and (min-width: 480px) {
    .tutorial {
        margin: 3% 0;
        width: 90%;
        max-width: 62rem;
    }
}

@media screen and (min-width: 768px) {
    .tutorial {
        padding: 7rem 3rem 3rem;
        width: 100%;
        font-size: 1.8rem;
        border-radius: 2rem;
    }
    .tutorial__exit {
        width: 7rem;
        height: 7rem;
    }
    .tutorial__exit::before,
    .tutorial__exit::after {
        width: 3.6rem;
    }
    .tutorial__title {
        font-size: 2.8rem;
        line-height: 6.5rem;
    }
    .tutorial__content > * {
        margin-bottom: 2rem;
    }
    .tutorial__content > * > *:not(:last-child) {
        margin-bottom: 0.7rem;
    }
    .tutorial__content h3 {
        font-size: 2rem;
    }
    .tutorial__content li::before {
        top: 1rem;
        left: 0.5rem;
    }
}

@media screen and (min-width: 992px) {
    .tutorial__exit:hover::before,
    .tutorial__exit:hover::after {
        background-color: #333333;
    }
    .tutorial__content {
        scrollbar-width: thin;
        scrollbar-color: #cacaca #efefef;
    }
    .tutorial__content::-webkit-scrollbar {
        width: 6px;
        border-radius: 3px;
        background-color: #efefef;
    }
    .tutorial__content::-webkit-scrollbar-button {
        display: none;
    }
    .tutorial__content::-webkit-scrollbar-thumb {
        background-color: #cacaca;
        border-radius: 3px;
    }
    .tutorial__content::-webkit-scrollbar-thumb:hover {
        background-color: #aaaaaa;
    }
}

@media screen and (min-width: 1400px) {
    .tutorial__exit::before,
    .tutorial__exit::after {
        height: 4px;
    }
}