*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

html {
    font-size: 10px;
}

body {
    font-family: Philosopher, Roboto, Arial, sans-serif;
    line-height: 1;
    color: #002640;
    /*background-color: #f2f2f2;*/
    /*background: linear-gradient(180deg, #009cdc, #0079ab);*/
    background: radial-gradient(circle at center, #f2fbff 0, #daf4fe 100%);
}

button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button:active,
button:focus {
    outline: none;
}

button:disabled,
button[disabled] {
    opacity: 0.5;
    cursor: default;
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 14px;
    }
}