.settings {
    position: relative;
    margin: -10px;
    padding: 10px;
    width: calc(100% + 20px);
    max-width: 48rem;
    font-size: 2rem;
    line-height: 1.3;
    overflow-y: auto;
}

.settings__content {
    margin: 0 auto;
    width: 30rem;
}

.settings__content > *:not(:last-child) {
    margin-bottom: 2rem;
}

.settings__title {
    padding-bottom: 1rem;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.75em;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
}

.settings__warn {
    font-size: 1.4rem;
    font-style: italic;
    color: #777777;
}

.settings__return {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: block;
    border: 0;
    background-color: transparent;
    opacity: 0.8;
    transition: opacity 0.1s linear;
}

.settings__return > span {
    display: block;
    width: 54px;
    height: 40px;
    background: transparent url("../../img/icon_back.png") 50% 50% no-repeat;
    background-size: contain;
    filter: invert(10%) sepia(19%) saturate(7335%) hue-rotate(184deg) brightness(97%) contrast(102%);
}

@media screen and (min-width: 568px) {
    .settings__warn {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .settings__return:hover {
        opacity: 1;
    }
}

@media screen and (min-width: 1400px) {
    .settings__return {
        padding: 20px 25px;
    }
}